.navbar-brand
{
    font-size: 25px;
    font-weight: bold;;
}

a{
    
    text-decoration: none;
    padding: 0px 10px;
    font-size: 17px;
    font-weight: bold;
    
}
a:hover
{
    color: var(--primary-color);
    text-decoration: underline;
    
}
.links:hover{
    color: var(--primary-color);
    text-decoration: underline;
}