
<div class="container mt-5 mb-5">
    <h1 class="text-center">About</h1>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut perferendis, doloremque quibusdam asperiores ex quam recusandae ipsam ad voluptatem, blanditiis nisi praesentium eaque non veniam fugit reprehenderit officia quidem sed.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus consectetur quidem fugit excepturi reprehenderit at, obcaecati adipisci animi corrupti temporibus, nihil facere culpa enim a mollitia omnis vero iste doloribus?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem labore odio nobis vero doloremque in. Minima debitis error recusandae corrupti tenetur architecto ratione omnis, voluptas, consequatur, accusamus reprehenderit nostrum fugit!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit fugiat eius accusamus dolorum at alias repudiandae totam eaque quibusdam iste, earum voluptate eos fuga ipsa consequuntur, quae, molestiae voluptas quas.
        <br/>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi, explicabo labore nesciunt non incidunt, veritatis quam distinctio perferendis veniam aliquam ex voluptatum maxime at, eveniet dolores quibusdam consequuntur suscipit commodi.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores sed reprehenderit optio ex voluptate nemo cum adipisci neque exercitationem. Aliquid blanditiis ullam amet excepturi totam sint ratione nulla nemo nihil!
        <br/>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi repudiandae accusantium autem voluptatum nesciunt. Nulla nam repudiandae, asperiores at perspiciatis, sint explicabo magnam voluptatibus repellat corporis rem quia distinctio quod.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. A aut maxime labore, repellat similique autem. Quia aliquam itaque iusto quidem libero nesciunt eum, aut optio eaque enim corporis, exercitationem voluptas?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor debitis fugit excepturi praesentium quibusdam aut, ducimus mollitia soluta illum libero? Commodi optio perspiciatis aliquam sequi tenetur animi similique cumque exercitationem!
        <br/>


    </p>

</div>
